@import "public/styles/Color.scss";

.RegisterPage {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;

    .container {
        padding: 36px 24px 18px 24px;
        border-radius: 12px;
        border: 1px solid $color-base-line;

        .title {
            color: $color-black;
            padding: 24px 0px;
            margin-bottom: 36px;
            border-bottom: 1px solid $color-base-line;

            .sub-title {
                margin-bottom: 12px;
            }

            .main-title {

            }
        }
    }

    .form {
        margin-bottom: 18px;
        padding-bottom: 18px;
        border-bottom: 1px solid $color-base-line;

        .guide {
            display: flex;
            justify-content: center;
            margin-bottom: 18px;
            font-size: 15px;
        }
        .input {
            position: relative;
            width: 100%;
            padding: 12px 18px 2px 18px;
            margin-bottom: 12px;
            border-radius: 12px;
            border: 1px solid $color-base-line;
    
            .label {
                color: $color-input-label;
            }
            
            input {
                border: none;
                background: none;   
                padding: 0px;
            }
        }
        .btn-register {
            width: 100%;
            height: 35px;
            font-size: 16px;
            color: $color-btn-background-hover;
            border: none;
            background: $color-btn-background;
        }
        .btn-register:hover {
            color: $color-white;
            background: $color-btn-background-hover;
        }
    }

    .footer {
        .btn-back {
            width: 100%;
            height: 35px;
            color: $color-black;
            border: none;
            background: none;
            transform: none;
        }
    }
}