@import "public/styles/Size.scss";
@import "public/styles/Color.scss";

.Attendance {
    .sub-header {
        display: flex;
        justify-content: right;

        .btn,
        .btn-remove {
            margin-right: 0px;
        }
    }
    .Box {
        border: none;
        padding: 6px 0px;

        .box-body button {
            border: none;
            border-radius: 12px;
            background: none;
            color: $color-menu-font;
            padding: 6px 12px;
            margin-bottom: 6px;
        }

        .box-body button:hover {
            cursor: pointer;
            color: white;
            font-weight: 700;
            background-color: #a0afbd;
        }

        .box-body button.selected {
            color: white;
            font-weight: 700;
            background-color: #a0afbd;
        }
    }
}
