/* * {
    box-sizing: border-box;
} */
.contentWrapper {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;

    color: white;
    font-size: 20px;
    gap: 5px;
}
.rowsWrapper {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: rgb(103, 103, 103);
}
.part {
    width: 50px;
    height: 30px;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.each {
    width: 50px;
    height: 30px;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: gray;
}
