@import "public/styles/Color.scss";
@import "public/styles/Size.scss";

.LessonRegister {

    padding: 24px;

    .header {
        padding: 24px 0px;
        .title {
            font-size: $font-size-page-title;
            font-weight: $font-weight-page-title;
        }
        .anticon {
            margin-right: 6px;
        }
    }   

    .body {
        padding: 24px 0px;
    }
}