.Header {
    display: flex;
    min-height: 48px;
    padding: 16px 24px;
    background-color: rgba(255, 255, 255, 0.72);
    position: sticky;
    top: 0;

    .toolbar {
        margin-left: auto;
        .img-user {
            width: 24px;
            height: 24px;
        }
    }
}